
.table_container{
  display: flex;
  justify-content: center;
  text-align: center;
}



.table{
  border-collapse: collapse;
  width: 90%;
  font-size: 20px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}
.table_header{
  text-align: center;
}

    td,
    th {
      border-bottom: 1px solid rgb(223, 219, 219);
      height: 80px;
      padding: 0.5rem;
      text-align: left;
    }

    tr:hover{
      background-color: rgba(233, 233, 233, 0.452);
      transition: all 0.4s ease 0s;
    }