
    .MainHeader{
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
        background-image: url('../images/Main-Hero-Image.png');
        background-repeat: no-repeat;
        background-position: center cover;
        background-size: cover;
        width: 100%;
        height: 100vh;
    }
    .headerLogo{
        text-align: center;
    }
    .concertLogoImg{
        width: 100%;
    }

    .viewConcertBtn{

        text-decoration: none;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-size: 12px;
        color: white;
        border: 1px solid rgb(88, 86, 86);
        background-color: darkcyan;
        padding: 10px;
        border-radius: 3px;
        box-shadow: 10px 10px 8px black;

    }

    .button_container{
        display:inline-block;
        position: absolute;
        margin-top: 190px;
    }

  .Card_Container{
        display: flex;
        justify-content: center;
        margin-top: 50px;
        margin-bottom: 50px;

        /* background-color: coral; */


    }

    .card{
        border: 1px rgb(182, 182, 182) solid;
        height: 450px;
        width: 300px;
        margin: 10px;
        box-shadow: 10px 10px 8px rgb(146, 146, 146);
    }
    .card_header{
        border: .01px rgb(182, 182, 182) solid;
        overflow: hidden;
    }
    .card_image{
        max-width: 100%;
        max-height: 100%;

    }


    @media only screen and (min-width: 500px) and (max-width: 899px){
        .button_container{

            margin-top: 317px;
        }

        .viewConcertBtn{

            font-size: 17px;
            padding: 10px;
        }

        .card_image{
            width: 24%;
            margin: 1px;
        }
      }

      @media only screen and (min-width: 900px) and (max-width:1400px) {
        .button_container{
            margin-top: 395px;
        }

        .viewConcertBtn{

            font-size: 21px;
            padding: 20px;
        }
        .card_image{
            width: 24%;
            margin: 4px;
        }
        }

      @media only screen and (min-width: 1440px) and (max-width:1900px) {

        .button_container{
            margin-top: 336px;
         }

        .viewConcertBtn{

            font-size: 19px;
            padding: 17px;
        }
        .card_image{
            width: 23%;
            margin: 10px;
        }

      }





