
    .MainHeader{
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
        background-image: url('../images/Main-Hero-Image.png');
        background-repeat: no-repeat;
        background-position: center cover;
        background-size: cover;
        width: 100%;
        height: 100vh;
        margin-top: 0;
    }
    .headerLogo{
        text-align: center;
    }
    .concertLogoImg{
        width: 100%;
    }

    .viewConcertBtn{

        text-decoration: none;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-size: 12px;
        color: white;
        border: 1px solid rgb(88, 86, 86);
        background-color: darkcyan;
        padding: 10px;
        border-radius: 3px;
        box-shadow: 10px 10px 8px black;

    }

    .button_container{
        display:inline-block;
        position: absolute;
        margin-top: 310px;
    }

    .card_section_title{
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        text-align: center;
        margin-top: 100px;
    }

    .Card_Container{
        margin: 29px 0px 0px 26px;
    }

    .card{
        border: 1px rgb(182, 182, 182) solid;
        height: 500px;
        width: 300px;
        margin: 10px;
        margin-top: 50px;
        box-shadow: 1px 10px 8px 3px rgb(146, 146, 146);
    }

    .card_header{
        border: .01px rgb(182, 182, 182) solid;
        overflow: hidden;
        box-shadow: 1px 10px 8px rgb(146, 146, 146);
    }
    .card_image{
        max-width: 100%;
        max-height: 100%;

    }

.card_body{
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        margin-top: 0px;
        text-align: center;

    }

    .home_card_btn_container{
        margin-top: 54px;
    }

    .home_card_btn{
    font-weight: bold;
    font-size: 12px;
      border: 1px solid rgba(172, 169, 169, 0.226);
      box-shadow: 10px 10px 8px grey;
      padding: 9px;
      border-radius: 4px;
      text-decoration: none;
      background-color: darkcyan;
      color: white;

  }


    @media only screen and (min-width: 380px) and (max-width: 499px){
        .Card_Container{
            margin-left: 48px;

        }

    }


    @media only screen and (min-width: 500px) and (max-width: 899px){

        .Card_Container{
            display: flex;
            justify-content: center;
            margin-left: 0;
            margin-top: 50px;
            margin-bottom: 50px;
        }
        .card{
            height: 250px;
        }
        .button_container{

            margin-top: 364px;
        }

        .viewConcertBtn{

            font-size: 19px;
            padding: 13px;
        }

        .card_image{
            width: 24%;
            margin: 1px;
        }
        .home_card_btn_container{

            margin-top: 33px;

        }
      }




      @media only screen and (min-width: 900px) and (max-width:1400px) {

        .Card_Container{
            display: flex;
            justify-content: center;
            margin-left: 0;
            margin-top: 50px;
            margin-bottom: 50px;
        }

        .button_container{
            margin-top: 483px;
        }

        .viewConcertBtn{

            font-size: 21px;
            padding: 20px;
        }
        .card_image{
            width: 24%;
            margin: 4px;
        }

        .card{
            height: 315px;
        }

       .home_card_btn{
           font-size: 16px;
       }
    }

      @media only screen and (min-width: 1440px) {

        .Card_Container{
            display: flex;
            justify-content: center;
            margin-left: 0;
            margin-top: 50px;
            margin-bottom: 50px;
        }

        .card{
            width: 400px;
            height: 550px;

        }

        .card_artist{
            font-size: 45px;
        }
        .card_location{
            font-size: 35px;
        }
        .card_date{
            font-size: 20px;
        }


        .button_container{
            margin-top: 645px;
         }

        .viewConcertBtn{

            font-size: 35px;
            padding: 34px;
        }
        .card_image{
            width: 23%;
            margin: 10px;
        }



      }





