
    .MainHeader{
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
        background-image: url('../images/Main-Hero-Image.png');
        background-repeat: no-repeat;
        background-position: center cover;
        background-size: cover;
        width: 100%;
        height: 100vh;
    }
    .headerLogo{
        text-align: center;
    }
    .concertLogoImg{
        width: 100%;
    }

    .viewConcertBtn{

        text-decoration: none;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-size: 12px;
        color: white;
        border: 1px solid rgb(88, 86, 86);
        background-color: darkcyan;
        padding: 10px;
        border-radius: 3px;
        box-shadow: 10px 10px 8px black;

    }

    .button_container{
        display:inline-block;
        position: absolute;
        margin-top: 190px;
    }


    @media only screen and (max-width: 768px) {
        .button_container{
            margin-top: 270px;
        }

        .viewConcertBtn{

            font-size: 18px;
            padding: 14px;
        }
      }

      @media only screen and (max-width: 1024px) {
        .button_container{
            margin-top: 390px;
        }

        .viewConcertBtn{

            font-size: 28px;
            padding: 20px;
        }
        }

      @media only screen and (max-width: 1440px) {

        .button_container{
            margin-top: 336px;
         }

        .viewConcertBtn{

            font-size: 19px;
            padding: 17px;
        }

      }





