
.Signup_Form_Container{
    position: absolute;
}


.Signup_Form{
display: none;
background-color: white;
border: 2px solid black;
width: 300px;
height: 500px;
position: relative;
animation-name: example;
animation-duration: 3s;
animation-delay: 2s;
animation-fill-mode: backwards;
}