

.Footer{

    margin-top: 1rem;
    padding: 1rem;
    background-color: rgb(188, 185, 189);
    position: static;
    bottom: 0;
    left: 0;


}


.footer-container{
    margin: 0;
    list-style: none;
    display: flex;
    justify-content: center;

}

a{
color: black;
text-decoration: none;
}

.social{
    text-align: center;
    background-color:white;
    width: 60px;
    height: 60px;
    padding: 5px;
    margin-right: 10px;
    border-radius: 50%;
}

/* Extra large devices (large desktops, 1200px and up) */
@media screen and (min-width:768px) {

    footer{

        position: static;


    }


}
/* Extra large devices (large desktops, 1200px and up) */
@media screen and (min-width:992px) {
/*
    footer{

        position: absolute;


    } */


}
/* Extra large devices (large desktops, 1200px and up) */
@media screen and (min-width:1200px) {

    footer{

        /* position: absolute; */


    }


}


/* Extra large devices (large desktops, 1200px and up) */
@media screen and (min-width:2000px) {

    footer{

        position: absolute;


    }


}


