
.Navbar {
    background-color: rgb(188, 185, 189);
    position: static;
    padding-top: 10px;
    color: white;
    height: 60px;
    margin-bottom: 0;

    /* width: 100%; */
}
.link-container {
   text-align: center;

}

.nav-item{
    color: white;
}

a{
    text-decoration: none;
}

