
.Navbar {
    background-color: rgb(188, 185, 189);
    position: static;
    padding-top: 10px;
    color: white;
    height: 70px;
    margin-bottom: 0;

    /* width: 100%; */
}
.link_container {
   text-align: center;

}

.nav_item{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 20px;
    font-weight: bold;
    float: right;
    margin: 20px;
    color: white;
}

a{
    text-decoration: none;
}

